<div style="padding: 40px;" class="mb-3">
<p>hello<p>
<form action="answer" data-turbo="false" method="get">
  <input type="text" name="user_input">
  <input type="submit" value="Ask!">
</form>
</div>
